/*Untuk header*/
.kepala {
  padding: 45px;
  text-align: center;
  font-family: 'Play', sans-serif;
  font-size: 50px ;
  background-color: #f5f5dc;
  color: skyblue;
}

.sidebar h3{
  margin-bottom: 20px;
  color: gray;
  font-size: 25px;
  font-family: 'Ubuntu', sans-serif;
}

.burger {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color: gray;
  color: #fff;
  font-size: 20px;
  transition: all 700ms;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 15px;
}

.burger div {
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: all 300ms;
}

.burger:hover {
  background-color: #f7add2;
  color: #091540;
}

.sidebar {
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background: white;
  z-index: 100;
  visibility: hidden;
  transform: translateX(-100%);
  transition: transform 500ms, visibility 0ms 500ms;
}

.sitebar ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li{
  padding: 15px 20px;
  font-size: 15px;
  font-family: 'play', sans-serif;
  color: gray;
}

.sidebar ul li a {
  color: lightslategray;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  transition: all 300ms;
  padding: 10px 30px;
  border-radius: 10px;
}

.sidebar ul li a:hover {
  background: #f1eeee;
  color: #8a8585;
}

.active {
  visibility: visible;
  transform: translateX(0%);
  transition: transform 500ms;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  background-color: #f5f5dc;
}

#bestseller {
  font-family: 'Ubuntu', sans-serif;
  color: gray;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 25vh;
}

#unggulan {
  font-family: 'Ubuntu', sans-serif;
  color: gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bestSellerProduct {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  text-align: center;
  max-width: 300px;
}

.productImage {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#About {
  font-family: 'Ubuntu', sans-serif;
  color: gray;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


